body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui.container {
  background: #f5f5f5;
  padding: 10px;
  margin-bottom: 50px
}
@media only screen and (min-width: 1200px) {
  .ui.container {
    padding: 20px;
  }
}

.App {
  margin-top: 7em;
}

h1, p, body {
  font-family: "soleil", Arial !important;
}

h1 {
  color: #019588;
  letter-spacing: 2px;
}

.header--tag {
  font-weight: 100 !important;
}

.header--tag .content {
  font-family: Helvetica;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-decoration: underline #019588;
}

.gallery_item {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:100%;
  max-width:100%;
  display: block;
}

.gallery--inactive .gallery_item {
  opacity: 0.4;
}

.frame {
  background-color: #ddc;
  border: solid 16.1px #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
  box-sizing: border-box;
  display: block;
  padding: 1px;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.frame:before {
  border-radius: 2px;
  bottom: -5.4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
  content: "";
  left: -5.4px;
  position: absolute;
  right: -5.4px;
  top: -5.4px;
}
.frame:after {
   border-radius:2px;
   bottom:-11.5px;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
   content:"";
   left:-11.5px;
   position:absolute;
   right:-11.5px;
   top:-11.5px;
}
@media (min-width: 768px) {
  .frame {
    width: 192px;
  }
}

.label--frame {
  display: block !important;
  max-width: 230px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px !important;
}

@media (min-width: 768px) {
  .label--frame {
    margin-bottom: 0;
  }
}

.blink {
  animation: blinker 0.5s cubic-bezier(0.4, -0.04, 0, 1.17) infinite alternate;
  position: absolute;
  background-color: yellow;
  border-radius: 50px;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

.label span {
  margin-bottom: 5px;
}

.label span:last-child {
  margin-bottom: 0px;
}

.label__real_name, .label__title, .label__tz {
  display: block;
}

.label__title, .label__tz {
  font-weight: 100 !important;
}

.ui.grid>.column:not(.row) {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  position: relative;
  display: inline-block;
  width: 6.25%;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  vertical-align: top;
}

i.circular.icon {
  box-shadow: 0 0 0 0.1em #019588 inset !important;
}

.button--logo img {
  height: 15px;
  margin-bottom: -1px;
}

.ui.button {
  font-weight: 100 !important;
}

.ui.green.button {
  background-color: #289ca2 !important;
}
.ui.green.button:hover {
  background-color: #000000 !important;
}

hr.most_incredible_separator {
  margin-bottom: 25px;
  margin-top: 25px;
}

footer {
  margin-top: 50px;
}